.cartDetailContrainer{
    border: 1px solid black;
    background-color: aquamarine;
    overflow-x: hidden;
    width: 375px;
    height: 699px;
    margin-top: -750px;
}
.item-section{
    border: 2px solid black;
    overflow-x: hidden;
    width: 50%;
    margin: 10%;
}
.delete-btn{
    background-color: brown;
}