.cartDetailContrainer{
    background-color:rgb(18, 39, 61,0.95);
    overflow-x: hidden;
    display:flex ;
    align-items: end;
    position: absolute;
    right: 0%;
    width: 375px;
    height: 699px;
    margin-top: -750px;
    z-index: 10;
}
.item-section{
   width: 331.3333435058594px;
   height: 251.33334350585938px;
   position: relative;
   top: -400px;
   left: 22px;
}
.delete-btn{
    margin-top: 50%;
    margin-left: -100%;
    width: 189.8148193359375px;
    height: 41px;
    background-color: #741906;
    border-radius: 5px;
    border: none;
}
.individual-item{
    margin-top: 10px;
    background-color:#FFFFFF ;
    box-shadow: 4px 10px 30px 0px #0000001A;
    overflow-x: hidden;
    display: flex;
    width: 300px;
    margin:5%;
    top: 167px;
    left: 22px;
}
.item-discription{
    height: 100px;
    width: 45%;
    margin: 2%;
}
.item-text{
    width: 150px;
    height: 14px;
    margin-left: 4px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#232222F5;
    ;
}
.item-img{
    height: 100px;
    width: 45%;
    margin: 2%; 
}
.inc-dec-btn{
    display: flex;
    width: 140px;
    height: 31.141822814941406px;
    margin: 10px;  
}
.dec-btn{
    background-color: #741906;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: none;
}
.counter{
    width: 10.630434036254883px;
    height: 22.442026138305664px;
    margin: 5px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #12273D;       
}
.inc-btn{
    background-color: #741906;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: none;
}
.delete-icon{
    border: none;
    margin-top: -3px;
    margin-left: 4px;
    height:10px;
    width: 10px;
    font-size: 25px;
}
.item-name{
    color:#741906;
    font-family: Nunito Sans;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 161px;
    height: 29.16666603088379px;
    top: 179.83px;
    left: 37.17px;
        
}
@media(min-width:900px){
    .cartDetailContrainer{
        height: 514px;
        position: absolute;
        top: 825px;
        right: -1%;
    }
    .item-section{
        position: relative;
        top: -220px;
    }
    .delete-btn{
      
       border: 1px solid black; 
    }
}