.navbar{
  border: 1px solid black;
}
.navbar-container{
  border: 1px solid black;
  display: flex;
}
.logo{
  border: 1px solid black;
}
.nav-links{
  border: 1px solid black;
}
.cart-icon{
  border: 1px solid black;
}
.menu-icon{
  border: 1px solid black;
}