.About-page{
    margin: 0%;
    display: flex;
}
.text-Area{
   margin-top: 50px; 
   margin-left: 50px;
   width: 40%;
   padding: 1%;
}
.big-about{
    width: 675px;  
    height: 165px;
    font-family: Lora;
    font-weight: 700;
    font-size: 128px;
    line-height: 100%;
    color: #EBEBEB;
}
.small-about{
    margin-left: 8px;
    margin-top: -98px;
    margin-bottom: 50px;
    font-family: Lora;
    font-weight: 700;
    font-size: 56px;
    color:#741906;

}
.about-discription{
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/* Styling for the car and background */
.about-car-container {
    position: relative;
    width: 30%;
    height: 400px;
    margin: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.background-img {
    position: relative;
    margin-top: 150px;
    margin-left:90px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fills the entire area */
    z-index: 1;
}

.car-img {
    margin-left: 350px;
    margin-top: -480px;
    width: 100%;
    position: relative;
    transform: translateX(-50%); /* Centers the car horizontally */
    max-width:90%;
    z-index: 2;
}
