.about-page-container{ 
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: hidden;
    margin-bottom: 50px;
    width: 100%;
    height: 1050px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 320px;
}
.page-text{  
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: 730px;
    margin-left: 10%;
    position: absolute;
    overflow-y: hidden;
    align-items: center;
}
.tittle{
    width: 90%;
    height: 85px;
}
.small-tittle{
    width: 91px;
    height: 41px;
    margin-left: 70px;
    font-family: Lora;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 0%;
    color:rgba(116, 25, 6, 1);
}
.small-tittle-p{
    margin-left: 10px;
    padding-top: 53%;
    padding-bottom: 10px;
    z-index: 4099;
}
.bigg-tittle{
    height: 85px;
    position: relative;
    top: -40px;
    z-index: 1;
    display: flex;
}
.p-bigg-tittle{
    position: relative;
    width: 100%;
    font-family: Lora;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color:rgba(235, 235, 235, 1);
}
.discription{   
    width: 90%;
    height: auto;
    padding: 5px;
    position: relative;
    top: 20px;
    left: 10px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5%;
    color: rgba(35, 39, 48, 1);
    align-items: center;
}
.About-page-car-img{
    display: none;
    align-items: flex-end;
    position: absolute;
    right: 0%;
    left: 50%;
}
.background-img{
    margin-left: 12px
}
.Abt-page-car-img{
    margin-left: -70%;
}
@media(min-width:700px){
.small-tittle{
    margin-left: 0px;
}
}
@media(min-width:900px){
    .page-text{
        width: 56%;
        position: relative;
        left: -10px;
    }    
    .discription{
        width: 90%;
        position: relative;
        top: 50px;
        left: 10px;
    }
    .About-page-car-img{
        overflow-y: hidden;
        overflow-x: hidden;
        display: flex;
        width: 35%;
        position: absolute;
        right: 0%;
        left: 60%;
        top: 120%;
    }
    .About-page-car-img img{
        position: relative;
        right: 47%;
    }
    .small-tittle{
        position: relative;
        left: -2%;
        top: 20px;
        font-size: 56px;
    }
    .p-bigg-tittle{
        font-size:92px;
    }
}
@media(min-width:1000px){
.About-page-car-img img{
        position: relative;
        left: -35%;
        top: 0px;
    }
}
@media(min-width:1300px){
.About-page-car-img img{
        position: relative;
        right: 34%;
        left: 10px;
    }
}