.general-brand-container{
    width: 100%;
    height: 200px;
    display: block;
}
.first-row-brand{
    width: 99%;
    height: 90px;
    margin: 5px;
    display: flex;
}
.second-row-brand{
    width: 99%;
    height: 90px;
    margin: 5px;
    display: flex ;
}
.logo-img{
    width: 60px;
    height: 40%;
    margin: 10px;    
    position: relative;
    left: 10%;
}
@media(min-width:700px){
    .general-brand-container{
        display: flex;
        position: relative;
        top: 500px;
    }
    .second-row-brand{
        position: relative;
        left: -30px;
    }
}